################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/libs/encryption/x64
/src/libs/file_operations/x64
/src/libs/file_reader/x64
/src/libs/restore/x64
/src/libs/vhdx_manager/x64
/src/img_to_vhdx/x64
/src/x64

*.tlog
*.idb
*.user
/.vs
/src/.vs
/src/packages
/src/out/build/x64-debug/CMakeFiles
/src/out/build/x64-debug/CMakeCache.txt
/src/out/build/x64-debug/VSInheritEnvironments.txt
*.json
/src/out/build/x64-debug/Testing/Temporary
/src/out/build/x64-debug/img_to_vhdx/CMakeFiles/img_to_vhdx.dir
/src/out/build/x64-debug/libs/encryption/CMakeFiles/encryption.dir
/src/out/build/x64-debug/libs/file_operations/CMakeFiles/file_operations.dir
/src/out/build/x64-debug/libs/file_reader/CMakeFiles/file_reader.dir
/src/out/build/x64-debug/libs/restore/CMakeFiles/restore.dir
/src/out/build/x64-debug/libs/restore/restore.lib
/src/out/build/x64-debug/libs/file_reader/file_reader.lib
/src/out/build/x64-debug/libs/file_operations/file_operations.lib
/src/out/build/x64-debug/libs/vhdx_manager/vhdx_manager.lib
*.cmake
/src/out/build/x64-debug/.ninja_deps
/src/out/build/x64-debug/.ninja_log
/src/out/build/x64-debug/build.ninja
/src/out/build/x64-debug/libs/encryption/encryption.lib
/src/out/build/x64-debug/libs/vhdx_manager/CMakeFiles/vhdx_manager.dir
